<%- include("./common/header") %>
    <!-- Header End -->
  <% if (recordChangeIndicater > 1) { %>
    <script>
        var getRecordIndicator = '<%= recordChangeIndicater %>';
       
        </script>
    <% }else if(recordChangeIndicater== 1){%>
        <script>
            getRecordIndicator='<%= recordChangeIndicater %>';
            </script>
<% } %>
    <!--script on client-->
<script>
   
   var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
          if (isChrome) {
            console.log('Voice input available');
          } else {
            console.log('Voice input unavailable');       
          }
        
            messageRecording = "Recording...",
            recognition = null;
           
        
        
          function startRecognition(id) {
            recognition = new webkitSpeechRecognition();
            recognition.continuous = true;
                recognition.interimResults = false;
            recognition.onstart = function(event) {
            
            };
            recognition.onresult = function(event) {
              recognition.onend = null;
             
              var text = "";
                for (var i = event.resultIndex; i < event.results.length; ++i) {
                  text += event.results[i][0].transcript;
                }
                setInput(text,id);
               
             
            };
            recognition.onend = function() {
              stopRecognition();
            };
            recognition.lang = "en-US";
            recognition.start();
           
          }
        
          function stopRecognition() {
            if (recognition) {
              recognition.stop();
              recognition = null;
              return true;
            }
          }
        
          function switchRecognition(id) {
              var temp=stopRecognition();
            startRecognition(id);
           
           return temp;
          }
        
          function setInput(text,id) {
            document.getElementById(id).value=text;
            
            
          }
        
        //end of voice input
        
        //this is the speaking function start
        function say(msg){
        
            let speech=new SpeechSynthesisUtterance();
            speech.lang="en-US";
            speech.text=msg;
            speech.volume=1;
            speech.rate=1;
            speech.pitch=1;
            window.speechSynthesis.speak(speech);
            
        }

        //main function onload definition
        
 function onLoad() {
 
 var getIndicator=parseInt(getRecordIndicator);
 var temp,temp1,temp2,temp3,temp4,temp5,temp6;
 if(sessionStorage.getItem("mode")==="Blind Mode"){

if(getIndicator<=1){        
     console.log("condition true");
                  say('This is shopping page, You can buy any product, whatever you want, if you want to buy any product please follow the instruction. if you want to start shopping, you need to say, `start`');
                  var  obj1=setInterval(switchRecognition,9000,'in');
                   }
              }

    //first interval taking input
var  obj2=setInterval(function()
{
var category=document.getElementById('category').value;   
var brand=document.getElementById('brand').value; 
var price=document.getElementById('price').value;
var color=document.getElementById('color').value;
var size=document.getElementById('size').value;
var tags=document.getElementById('tags').value;
var inputVal=document.getElementById('in').value;

if(sessionStorage.getItem("mode")==="Blind Mode"){
if((inputVal=='start')){
           clearInterval(obj1);
            document.getElementById('in').value='';
            say('For shopping, There is three categories of product `Ladies`. `Gents`. and `Kids` In which category, you want please say ');
            switchRecognition('category');
            temp7=true;
  }
 
if(temp!=true){
            document.getElementById('in').value='some'; 
}
  
            
 if((category!='') && (inputVal!='') && (temp7==true)){
            temp7=false;
            temp=true;
            //name value copy to the hidden text namecopy
            //document.getElementById('namecopy').value=name;
            //ended
            document.getElementById('in').value='';
        
            say('There is two brand available whose name is, `Diesel`. and `Polo` which brand you want');
            switchRecognition('brand');
            temp1=true;


  }else if((brand!='') && (temp1==true)){
      //contact value copy to the hidden text contactcopy
      //document.getElementById('contactcopy').value=contact;
      //copy ended
      say('product available in range 300 to 3000, In which range you want, please say ');
      switchRecognition('price');
      temp1=false;
      temp2=true;
  }else if((price!='') && (temp2==true)){
      //username value copy to the hidden text username copy
     // document.getElementById('usernamecopy').value=username;
      //copy ended
      say('There is four color of product available whose name is, `black` `voilet` `red` and `green` In which color, you want');
      switchRecognition('color');
      temp2=false;
      temp3=true;
  }else if((color!='') && (temp3==true)){
      //password value copy to the hidden text passwordcopy
      //document.getElementById('passcopy').value=password;
      //copy ended
      say('There is four sizes of product availeble whose name is, `S` `M` `L` and `XL` which size, you want');
      switchRecognition('size');
      temp3=false;
      temp4=true;

  }else if((size!='') && (temp4==true)){
      //password value copy to the hidden text passwordcopy
      //document.getElementById('passcopy').value=password;
      //copy ended
      say('There is five type of product available whose name is, `shoes` `Jacket` `Dresses` `Hat` `BackPack` which product you want');
      switchRecognition('tags');
      temp4=false;
     temp5=true;
      
  }else if((category!='') &&(brand!='') &&(price!='') && (color!='') &&(size!='') &&(tags!='') && (temp5==true)){
    say('if you want to submit, please say, SUBMIT. ');
    switchRecognition('in');
    temp5=false;
    temp6=true;
  }else if((inputVal=='submit') && (temp6==true)){
    temp6=false;
    document.getElementById('searchData').submit();

       }
   }
},100);
//first interval end

                                       }
//onload definition end



        // calling onload func on body 
        //document.getElementById('headerTop').onload= function(){onLoad()};
        //calling on body end    
    </script>
    <!--script ended-->

    <body id="bodyLoader" onload="onLoad()">
        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>
    
        <!-- Header Section Begin -->
        <header class="header-section">
            <%- include('./common/headerBody') %>

            <div class="nav-item">
                <div class="logo">
                    <a href="/">
                        <img src="/images/logo.png" alt="" height="50px">
                    </a>
                </div>
                <div class="container">
                    <nav class="nav-menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="#">Collection</a>
                                <ul class="dropdown">
                                    <li><a href="#">Ladies</a></li>
                                    <li><a href="#">Gents</a></li>
                                    <li><a href="#">Kid's</a></li>
                                </ul>
                            </li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="/shopping-cart">Shopping Cart</a></li>
                                    <li><a href="/check-out">Checkout</a></li>
                                    <li><a href="/registeration">Register</a></li>
                                    <li><a href="/home">Home</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div id="mobile-menu-wrap"></div>
                </div>
            </div>
        </header>
        <!-- Header End -->
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Product Shop Section Begin -->
    <section class="product-shop spad">
        <div class="container">
            <div class="row">
               
                <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                    <div class="filter-widget">
                        <form method="POST" action="/shop"  id="searchData" role="form">
                            <!--Hidden feilds are -->
                            <input type="hidden" id="in" placeholder="common Field">
                            <input type="hidden" name="pos" placeholder="position taking field">
                            <input type="hidden" name="category" id="category">

                        <h4 class="fw-title">Categories</h4>
                        <ul class="filter-catagories">
                            <li><a href="#">Ladies</a></li>
                            <li><a href="#">Gents</a></li>
                            <li><a href="#">Kids</a></li>
                        </ul>
                    </div>
                  
                    <div class="filter-widget">
                        <h4 class="fw-title">Brand</h4>
                        <%= recordChangeIndicater %>
                        <div class="fw-brand-check">
                            <div class="bc-item">
                                 <!--Hidden feilds are -->  
                                 <input type="hidden" name="brand" id="brand">

                                <label for="bc-diesel">
                                    Diesel
                                    <input type="checkbox" id="bc-diesel" name="brandCheck" id="brandCheck">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="bc-item">
                                <label for="bc-polo">
                                    Polo
                                    <input type="checkbox" id="bc-polo" name="brandCheck" id="brandCheck">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            
                        </div>
                    </div>
                    <div class="filter-widget">
                        <h4 class="fw-title">Price</h4>
                        <div class="filter-range-wrap">
                            <div class="range-slider">
                                <!--Hidden feilds are -->
                                <input type="hidden" name="price" id="price">
                                <div class="price-input">
                                    <input type="text" id="minamount" name="minPrice" id="minPrice">
                                    <input type="text" id="maxamount" name="maxPrice" id="maxPrice">
                                </div>
                            </div>
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                data-min="300" data-max="3000">
                                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            </div>
                        </div>
                    </div>
                    <div class="filter-widget">
                        <!--Hidden feilds are -->
                        <input type="hidden" name="color" id="color">
                        <h4 class="fw-title">Color</h4>
                        <div class="fw-color-choose">
                            <div class="cs-item">
                                <input type="radio" id="cs-black" >
                                <label class="cs-black" for="cs-black">Black</label>
                            </div>
                            <div class="cs-item">
                                <input type="radio" id="cs-violet">
                                <label class="cs-violet" for="cs-violet">Violet</label>
                            </div>
                            <div class="cs-item">
                                <input type="radio" id="cs-red">
                                <label class="cs-red" for="cs-red">Red</label>
                            </div>
                            <div class="cs-item">
                                <input type="radio" id="cs-green">
                                <label class="cs-green" for="cs-green">Green</label>
                            </div>
                        </div>
                    </div>
                    <div class="filter-widget">
                        <!--Hidden feilds are -->
                        <input type="hidden" name="size" id="size">
                        <h4 class="fw-title">Size</h4>
                        <div class="fw-size-choose">
                            <div class="sc-item">
                                <input type="radio" id="s-size" value="s" name="Size">
                                <label for="s-size" >s</label>
                            </div>
                            <div class="sc-item">
                                <input type="radio" id="m-size" value="m" name="Size">
                                <label for="m-size">m</label>
                            </div>
                            <div class="sc-item">
                                <input type="radio" id="l-size" value="l" name="Size">
                                <label for="l-size">l</label>
                            </div>
                            <div class="sc-item">
                                <input type="radio" id="xs-size" value="xl" name="Size">
                                <label for="xs-size">xl</label>
                            </div>
                        </div>
                    </div>
                    <div class="filter-widget">
                    <!--Hidden feilds are -->
                        <input type="hidden" name="tags" id="tags">
                        <h4 class="fw-title">Tags</h4>
                        <div class="fw-tag-choose">
                            <div class="sc-item">
                                <input type="radio"  value="Shoes" name="Tag">
                                <label>Shoes</label>
                            </div>
                            <div class="sc-item">
                                <input type="radio"  value="Jacket" name="Tag">
                                <label >Jacket</label>
                            </div>
                            <div class="sc-item">
                                <input type="radio"  value="Hat" name="Tag">
                                <label >Hat</label>
                            </div>
                            <div class="sc-item">
                                <input type="radio" value="Towel" name="Tag">
                                <label >Cloth</label>
                            </div>
                        </div>
                            
                        
                    </div>
                    <input type="submit" value="Filter" class="btn " style="font-size: 20px; width: 40%; background-color: #E7AB3C;">
                </div>
                
                
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="product-show-option">
                        <div class="row">
                            <div class="col-lg-7 col-md-7">
                                <div class="select-option">
                                    <select class="sorting">
                                        <option value="">Default Sorting</option>
                                    </select>
                                    <select class="p-show">
                                        <option value="">Show:</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 text-right">
                                <p>Show 01- 09 Of 36 Product</p>
                            </div>
                        </div>
                    </div>
                      
                           
                    <div class="product-list">
                        <div class="row">
                            <% if (recordChangeIndicater > 1) { %>
                                <script>
                                    var counter=1;
                                    say('There is '+'<%= total-1 %>'+'product display as per your requirement');
                             </script>
                             <% } %>
                            <% if(records.length > 0){
                                 counterName=1
                                records.forEach(function(row){  %>
                                 <!-- Modal -->
							<div class="modal fade" id="myModal<%= counterName %>">
								<div class="modal-dialog">
								
								<!-- Modal content-->
								<div class="modal-content" >
									<div class="modal-header">
                                    <h4 class="modal-title">Veiw Product</h4>
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									</div>
									<div class="modal-body" >
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <img src="<%= row.product_image.toString().replace('public\\','\\') %>" alt="" width="100%" height="70%">
                                            </div>
                                            <div class="col-sm-6" style="float: left;">
                                                <b style="font-size: 22px;color: #E7AB3C;"> <%= row.product_name %> </b><br>
                                                <b style="font-size: 22px;color: #E7AB3C;">₹  <%= row.product_price %></b><br>
                                                <hr>
                                                <p style="font-size: 16px;">
                                                    <%= row.product_description %> </p>
                                            </div><br><br>

                                            <a onclick="showMsg()" href="/shopping-cart/addProduct/<%= row.product_name %>" class="btn" style="margin-left: 50%;font-size: 18px;width: 30%;border-radius: 15px;background-color: #E7AB3C;">Add to cart</a>
                                        </div>
					
									</div>
									<div class="modal-footer">
									<button type="button" class="btn" data-dismiss="modal" style="font-size: 18px;border-radius: 15px;background-color: #E7AB3C;">Close</button>
									</div>
								</div>
								
								</div>
							</div>
                            <!--Model END-->

							 <div class="col-lg-4 col-sm-6" >
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="<%= row.product_image.toString().replace('public\\','\\') %>" alt="">
                                        <div class="sale pp-sale">Sale</div>
                                        <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                            <li class="quick-view"><a  data-toggle="modal" data-target="#myModal<%= counterName %>" style="cursor: pointer;">+ Quick View</a></li>
                                            <li class="w-icon"><a onclick="showMsg()" href="/shopping-cart/addProduct/<%= row.product_name %>" class="btn"><i class="fa fa-cart-plus fa-xl"></i></a></li>
                                        </ul>
                                    </div>  
                                    <div class="pi-text">
                                        <div class="catagory-name"><%= row.product_tags %></div>
                                        <a href="#">
                                           
                                            <h5 name="p1"><%= row.product_name %></h5>
                                        </a>
                                        <div class="product-price">
                                            <%= row.product_price %>
                                            <% var amnt=row.product_price %>
                                            <span><%= amnt+385 %></span>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                           
                            <% if (recordChangeIndicater > 1) { %>
                                <input type="hidden" value="<%= row._id %>" name="name<%= counterName %>">
                                <script>
                                   
                                    say('on '+counter+' position, the name of product is, '+'<%= row.product_name %>'+' and, price of product is, '+'<%= row.product_price %>');
                                    counter++;
                                    </script>
                                <% } %>
                                <% counterName++ %>
                            <% }) }%>
                            <% if (recordChangeIndicater > 1) { %>
                                <script>
                                    say('if you want to order, you need to say, position of product. if you dont want to order, you need to say, `cancel` ');
                                    setInterval(switchRecognition,9000,'pos');      
                                    say('Your order has been placed!!!');                              
                                      </script>
                                <% } %>
               
                 </div>
            </div>
        </form>
        
            <% if(pages > 0) { %>
                <ul class="pagination text-center pagination-lg justify-content-end ">
                  <% if(current== 1) {%>
                    <li class="disabled"><a>First</a></li>
                    <% } else{ %>
                      <li><a href="/shop/pegination/1">First</a></li>
                      <% } %>
                      <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                      <% if(i !== 1){ %>
                        <li class="disabled"><a>...</a></li>
                        <% } %>
                        <% for(; i <= (Number(current) + 4) && i <= pages; i++){ %>
                          <% if(i ==current){ %>
                            <li class="active"><a><%= i %></a></li>
                            <% } else { %>
                              <li><a href="/shop/pegination/<%= i %>"><%= i %></a></li>
                              <% } %>
                              <% if(i == Number(current) + 4 && i < pages){%>
                                <li class="disabled"><a>...</a></li>
                                <% } %>
                                <% } %>
                                <% if(current == pages){%>
                                  <li class="disabled"><a>Last</a></li>
                                  <% } else { %>
                                    <li><a href="/shop/pegination/<%= pages %>">Last</a></li>
                                    <%} %>
                </ul>
                <% } %>
        </div>
        
       
    </section>
    <script>
        function showMsg(){
            alert("Product added successfully");
        }
        </script>
    <!-- Product Shop Section End -->

   

    <!-- Footer Section Begin -->
    <%- include('./common/footer') %>
